<!DOCTYPE html>
<head>
    <title>Log in</title>
</head>
<body>
    <h1>Sign up</h1>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <div>
            <label for="username">Username</label>
            <input
                type="text"
                id="username"
                name="username"
                required><br><br>
        </div>

        <div>
            <label for="password">Password</label>
            <input
                type="password"
                id="password"
                name="password"
                required><br><br>
        </div>

        <div>
            <label for="password_confirm">Confirm password</label>
            <input
                type="password"
                id="password_confirm"
                name="password_confirm"
                required><br><br>
        </div>

        <button type="submit">Sign up</button>
    </form>

    <p>
        <a href="{% url 'login' %}">Log in</a>
    </p>
</body>
</html>